{% extends 'base.html' %}

{% block header %}
<h1>file management</h1>
{% endblock %}

{% block content %}
<div class="menu m-1">
    <p class="menu-label">Upload your file</p>
    <ul class="menu-list">
        <li>
            <form action="/files/upload" method="post" enctype="multipart/form-data">
                <div class="field">
                    <label for="file-upload" class="label">file to upload</label>
                    <div class="control">
                        <input name="file-upload" id="file-upload" required type="file" accept=".pdf" class="input">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="submit" class="button">
                    </div>
                </div>
            </form>
        </li>
    </ul>
    <p class="menu-label">Search your file</p>
    <ul class="menu-label">
        <li>
            <form action="/files/search" method="post">
                <div class="field">
                    <label for="query" class="label">search file</label>
                    <div class="control">
                        <input name="query" id="query" required type="text" class="input">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="submit" class="button">
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>

<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Files</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for file in data %}
        <tr>
            <td>{{file}}</td>
            <td>
                <div class="buttons are-small">
                    <a href="/files/download/{{file}}" class="button">download</a>
                    <a href="/files/summary/{{file}}" class="button">summary</a>
                    <button class="button js-modal-trigger"
                    data-target="rename-modal-{{file.replace('.', '-').replace(' ', '-')}}">rename</button>
                    <a href="/files/delete/{{file}}" class="button is-danger">delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% for file in data %}
<div class="modal p-2" id="rename-modal-{{file.replace('.', '-').replace(' ', '-')}}">
    <div class="modal-background"></div>
    
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="model-card-title">renaming {{file}}</p> 
        </header>
        <section class="modal-card-body">
            <form action="/files/rename/{{file}}" method="post">
                <div class="field">

                    <label for="newname" class="label">
                        New file name:
                        <input type="text" name="newname" id="" class="input">
                    </label>
                </div>
                <div class="buttons">
                    <input type="submit" value="rename" class="button is-success">
                </div>
            </form>
        </section>
    </div>
</div>
{% endfor %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            if (event.key === "Escape") {
                closeAllModals();
            }
        });
    });
</script>
{% endblock %}