{% extends 'base.html' %}

{% block header %}
<h1>file management</h1>
{% endblock %}

{% block content %}
<div class="menu m-1">
    <p class="menu-label">Upload your file</p>
    <ul class="menu-list">
        <li>
            <form action="/files/upload" method="post" enctype="multipart/form-data">
                <div class="field">
                    <label for="file-upload" class="label">file to upload</label>
                    <div class="control">
                        <input name="file-upload" id="file-upload" required type="file" accept=".pdf" class="input">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="submit" class="button">
                    </div>
                </div>
            </form>
        </li>
    </ul>
    <p class="menu-label">Search your file</p>
    <ul class="menu-label">
        <li>
            <form action="/files/search" method="post">
                <div class="field">
                    <label for="query" class="label">search file</label>
                    <div class="control">
                        <input name="query" id="query" required type="text" class="input">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="submit" class="button">
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>

<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Files</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for file in data %}
        <tr>
            <td>{{file}}</td>
            <td>
                <div class="buttons are-small">
                    <a href="/files/download/{{file}}" class="button">download</a>
                    <a href="/files/summary/{{file}}" class="button">summary</a>
                    <a href="/files/delete/{{file}}" class="button is-danger">delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
</script>
{% endblock %}