<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}">
  <title>flaskdrive app</title>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="{{ url_for('files.index') }}" class="navbar-item has-text-weight-bold">flaskdrive</a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarItems">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navbarItems">
      <div class="navbar-start">
        {% if g.user %}
        <a href="{{ url_for('files.index') }}" class="navbar-item">Home</a>
        <a href="{{ url_for('auth.logout') }}" class="navbar-item">Log Out</a>
        {% else %}
        <a href="{{ url_for('auth.register') }}" class="navbar-item">Register</a>
        <a href="{{ url_for('auth.login') }}" class="navbar-item">Log In</a>
        {% endif %}
      </div>
      {% if g.user %}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button" href="{{ url_for('user.index') }}">{{ g.user['username'] }}</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </nav>
  <section class="container is-fluid">
    {% for message in get_flashed_messages(category_filter=['error']) %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    
    <header class="is-size-3">
      {% block header %}{% endblock %}
    </header>

    {% for message in get_flashed_messages(category_filter=['info']) %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}
  </section>

  <script src="{{ url_for('static', filename='foundation_css/js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='foundation_css/js/vendor/what-input.js') }}"></script>
  <script src="{{ url_for('static', filename='foundation_css/js/vendor/foundation.min.js') }}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });

    });
  </script>
</body>

</html>