{% extends 'base.html' %}

{% block header %}
  <h1>user information</h1>
{% endblock %}

{% block content %}
<div>
    <form action="">
        <div class="field">
            <label for="username" class="label">Username</label>
            <div class="control">
                <input type="text" class="input disabled" value="{{data[1]}}" disabled>
            </div>
        </div>
        <div class="field">
            <label for="oldpassword" class="label">Old password</label>
            <div class="control">
                <input type="password" class="input">
            </div>
        </div>
        <div class="field">
            <label for="newpassword" class="label">New password</label>
            <div class="control">
                <input type="password" class="input">
            </div>
        </div>
        <div class="field">
            <label for="repeatpassword" class="label">Repeat password</label>
            <div class="control">
                <input type="password" class="input">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}