{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="padding-horizontal-1">
  <form method="post" >
    <label for="username">Username
      <input type="text" name="username" id="username" required>
    </label>
    <label for="password">Password
      <input type="password" name="password" id="password" required>
    </label>
    <input type="submit" value="Register" class="button">
  </form>
</div>
{% endblock %}